.Calendar{
    border: 1px solid #3f5c5c;
    margin-bottom: 0px;
}

.Daycomponent{
    display: inline-block;
    border-right: 1px solid #3f5c5c;
    text-transform: uppercase;
    width: 215px;
}

.Daycomponent:last-child{
    border-right: none;
}

.Daycomponent div{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 10px;
}

.Daycomponent div p{
    font-size: 15px;
    margin: 0;
}

.Daycomponent div:first-child{
    border: none;
    margin: 0;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #3f5c5c;
    color: white;
}

.busy{
    text-decoration: line-through ;
    color: rgb(71, 71, 71);
}

.active{
    background-color: #A1A7A2;
    cursor: pointer;
}

.active:hover{
    background-color: #636d65;
    color: white;
}

.Nav {
    display: inline-block;

}

.calendarNav{
    background-color: #A1A7A2;
    width: 80px;
    height: 80px;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
}

.calendarNav p {
    font-size: 30px;
    margin-top: 20px;
}

.calendarNav:hover{
    background-color: #636d65;
    color: white;
}