body{
    background-image: url("../../img/background.png");
    background-repeat: no-repeat;
    background-size: 110% 95vh;
}


.Entrysection{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10%;
    margin-left: 10%;
    color: white;
    margin-bottom: 25%;
}

.contentBox{
    width: 40vw;
    padding-left: 1em;
}

.contentBox h1{
    font-size: 2.3rem;
    margin-bottom: 50px;
}

.contentBox p {
    font-size: 1.2rem;
    margin: 1em 0;
}

.btnBox{
    width: 100%;
    display: flex;
    margin-top: 50px;
    font-weight: 600;   
}

.btn{
    border: 2px solid transparent;
    background-color: #f9ebd3;
    border-radius: 2em;
    padding: 15px;
    box-shadow: 3px 3px 5px 0px #00000057;
    color: #324f52;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background-color: #c2b59f;
}

.btn:first-child{
    margin-right: 10%;
}

.imgContainer{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.imgContainer img{
    top: 0;
    right: 0;
    width: 32vw;
}

